/Halad_IT13B_activities/nbproject/private/
/Halad_IT13B_activities/build/
/JavaApplication6/nbproject/private/
/Halad_IT13B_activities/IT13_Halad_Activities/nbproject/private/
/Halad_IT13B_activities/IT13_Halad_Activities/build/
